body{
    background-color: rgba(0,0,0,0.7);
}
h3,h1{
    font-family: serif;
    color: white;
}
hr{
    background-color: white;
}
a.navbar-brand{
    font-family: serif;
    font-size: 1.5rem;
    margin-left: 2rem;
    font-weight: bolder;
}
.card{
    border-radius: 30px;
}


footer h3{
    position: relative;
    top: 5rem;
    display: block;
    width: 100%;
  
    text-align: center;
    font-size: 1rem;
}
footer h3 span{
color: red;
}
#time{
color: white;
background-color: crimson;
font-weight: bolder;
text-align: center;
}
#welcome,#emoji{
    font-size: 1.7rem;
    font-weight: bolder;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
#emoji{
    animation: changeSize 1.2s infinite;
}
@keyframes changeSize{
    
    30%{
        font-size: 2rem;
    }
    60%{
        font-size:1.5rem ;
    }
    90%{
        font-size: 1.7rem;
    }
    100%{
        font-size: 2rem;
    }
}
#add-note-title,#pen-emoji{
    font-size: 1.3rem;
}
@media screen and (max-width:500px){
    #welcome{
      font-size: 1.5rem;
    }
}